body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #ebeff1;
}

header{
	background: #838b95;
	width: 100%;
	height: 70px;
	text-align:center;
	color: white;
}


.weather-element{
	background: #ffffff;
	color: #888f99;
	box-shadow: 1px 1px 6px #ccc;
  width:330px;
  margin-right:30px;
  margin-bottom:30px;
  height:80px;
  float:left;
}

.wrapper{
	width:1100px;
	margin-left:150px;
  margin-top: 60px;

}

  #city{
  width:600px;
  height:50px;
  border: solid 1px #b2b5b9;
  background: #a3a7ac;  
  margin-top:10px;
  color:white;
  }


 .inside{
  position: relative;
  width:100px;
  height:40px;
  background-color: red;
  padding: 5px 5px;
  margin-top: 8px;
 }


  .delete {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 14px;
    color: #7f8c8d;
  }
  
  form button{
  margin-left : 20px;
  height: 30px;
  }


@media screen and (min-width:1024px) and (max-width:1260px)
  {
    #wrapper {
      width:900px;
    }
    
    #header {
      width:900px;
    }
    
    .weather-element{
      position:relative;
      left:100px;
    
    }

  }
    
@media screen and (min-width:768px) and (max-width:1023px)
  {
    .wrapper {
      width:700px;
    }
    
    .header {
      width:700px;
    }

     form button{
    display:block;
   margin-left:250px;
    top:20px;
    }

     .weather-element{
      position:relative;
      left:100px;
    
    }
    }

  
@media screen and (max-width:767px)
  {
    .wrapper {
      width:90%;
    }
    
    .header {
      width:90%;
    }
    
    form button{
    display:block;
    position:relative;
    left:250px;
    top:20px;
    }

    .weather-element{
    margin-left:50px;
    }

  }
@media screen and (min-width:500px) { 
.wrapper {
      width:90%;
    }
    
    .header {
      width:90%;
    }

 .weather-element{
    margin-left:50px;
    }
 }