.col-1 h3{
	font-size:16px;
	margin:0;
	padding-top:15px;
	color: #758085;
}

.col-1{
	float:left;
	width:110px;
	padding:10px 10px 0 20px;
	text-align:ceneter;
}
.col-2{
	float:left;
	padding:10px 0px;
	width:90px;
	text-align:center;
	height:60px;
	
}

.col-2 .temperature{
	font-size:28px;
	margin-top:5px;
	margin-left:-10px;
	text-align:center;
	color: #4c5766;
}

.col-2 p{
	margin-left:-25px;
}

p{
	margin:0;
	padding:0;
}
.col-3{
	float:left;
	width:100px;
	height:80px;
	text-align:center;

}

.col-3 .humidity{
	margin-top:20px;
}


h3,h2 {
	padding:0;
	margin:0;
}

 span .delete {
 	padding-right:20px;
    font-size: 14px;
    color: #7f8c8d;
  }
